*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  padding-left: 0px;
  box-sizing: border-box;
}
/* The Body */
html,
body {
  /* font-family: 'Acme', sans-serif; */
  font-weight: 300;
  font-size: 20px;
  scroll-behavior: smooth;
  background-color: #f0fdff;
  position: relative;
  }


  h4{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);

  }
  p{
    font-size: 15px;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.6);

  }
  .fa-shopping-cart{
    padding:-10px;
  }
.fa{
    padding: 10px;
    font-size: 30px;
    width: 45px;
    height: 45px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 5px;
  }

  img{
    width: 30%;
    height: 30%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

  /* Header */
header{
  height: 800px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("../img/bghome.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover; 
  }
/* 
  header {
    font-family: 'Acme', sans-serif;
    height: 1000px;
  } */
  .container{
    height: 100px;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../img/bghome.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  */
    background-color: rgba(0, 0, 0, 0.8);
  }


  
  header div {
    padding: 25px;
  }
  
  /* Title */
  .title-logo {
    font-family: 'Acme', sans-serif;
    color: #fff;
    float: left;
    font-size: 45px;
    margin-top: -0.5%;
    text-transform: uppercase;
  }
  .title-logo span,
  .title-logo--footer span {
    margin: 0 5px;
    color: #b7d972;
    transition: transform 0.25s;
    
  }
  main span{
    clear: both;
    margin-left: -6%;
    padding-left: -6%;
  }
  
  /* Menu right side */
  .main-nav {
    font-family: 'Acme', sans-serif;
    float: right;
  }
  .main-nav-list {
    list-style: none;
  }
  
  .main-nav-item {
    display: inline-block;
    margin: 0 7px;
  }
  
  .main-nav-item a:link,
  .main-nav-item a:visited {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 0;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.25s;
  }

.w3-bar-block .w3-bar-item {
  padding:20px}
  
  img{
    width: 5%;
    height: 5%;
    border-radius: 10%;
  }
  .main-nav-item a:hover,
  .main-nav-item a:active {
    border-bottom: 2px solid #fd9800 ;
  }
  
  /* Background Image with big Text */
  .heading00 {
    /* font-family: 'Londrina Solid', cursive; */
    /* font-family: 'Abel', sans-serif; */
    font-family: 'Londrina Solid', cursive;
    text-align: center;
    color: #eeeded;
    margin-top: -1%;
    font-size: 850%;
    word-spacing: 5px;
  }
  
  .heading01 {
    font-family: 'Londrina Solid', cursive;
    /* font-family: 'Abel', sans-serif; */
    line-height: 0.5;
    margin-bottom: 2%;
    margin-top: 2%;
    /* font-weight: bold; */

    text-align: center;
    color: #eeeded;
    font-size: 1100%;
    letter-spacing: 5px
  }
  
  .heading02 {
    line-height: 1.5;
    font-family: 'Acme', sans-serif;
    margin-top: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #b7d972 ;
    letter-spacing: 5px;
    font-size: 1050%;


  }
  main{
    height: 150%;
  }

  .button {

    background-color: #f19813;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    cursor: pointer;
    margin-left: 40%;
    margin-top: 3%;
    border-radius: 20px;
  }
  .button:hover {
    background-color: #3e8e41;
  }

hr{
  border-bottom: 2px solid rgba(0, 0, 0, 0.8);
  width: 60%;
  margin: auto;
}
  .aboutProject-bar {
    
   background-color: #eefbff;
    height: 100vh;
    padding: 3% 0 1% 0;
  }
  .aboutProject-bar {
    color: #3e8e41;
    text-align: center;
    font-size: 250%;
    font-weight: 200;
    margin: 3% 0 4% 0;

  }

  #menu{
    margin-bottom: 10%;
    margin-top: -2%;
  }
  
  .section-heading00{
    font-family: 'Acme', sans-serif;
    font-size: 45px;
    margin-bottom: -2%;
    margin-left: 21.5%;

  }
  .section-heading00 span {
    font-family: 'Acme', sans-serif;
    margin: 0 5px;
    color: #fd9800;
    transition: transform 0.3s;
    
  }
  
  .section-heading00::after {
    font-family: 'Acme', sans-serif;
    content: "";
    display: block;
    margin: 30px auto 0 auto;
    height: 2px;
    width: 150px;
  }

   .prof-info{
    
    background-color: #f5fafc;
    width: 55%;
    color:#3e8e41 ;
    /* border: 1px solid #3e8e41; */
    padding: 50px;
    margin-left: 40%;
    font-size: 20px;
    align-content: left;
    line-height: 1.6;
    text-align: left;
    border-radius: 15px;


}

/* footer */
footer {
  font-family: 'Acme', sans-serif;
  width: 100%;
  padding: 30px 0 10px 0;
  background-color: #202020  ;
  color: #fdf1fd;
}

.title-logo--footer {
  float: right;
  padding-right: 40px;
  text-transform: uppercase;
}

.footer-nav {
  float: left;
  margin-right: 25px;
}

.footer-nav-list {
  list-style: none;
}
.footer-nav-item {
  display: inline-block;
  margin: 0 5px;
}

.footer-nav-item a:link,
.footer-nav-item a:visited {
  text-decoration: none;
  color: #fefaec;
  transition: opacity 0.25s;
  text-transform: uppercase;
}

.footer-nav-item a:hover,
.footer-nav-item a:active {
  opacity: 0.75;
}

.copy-rights,
.contactus-bar {
  color: #ffffff;
  font-size: 80%;
  font-weight: 200;
}

.imgHouse{
  width: 40%;
  height: 65%;
  float: left;
}


.copy-rights {
  width: 90%;
  text-align: center;
  margin-top: 90px;
  margin-left: 60px;
}

.contactus-bar {
  padding-left: 2px;
  width: 100%;
  margin-top: 30px;
  margin-left: 20px;
  text-align: center;
}
.contact-us{
  clear: both;
  margin-left: 10px;
}
.contactus-bar-list {
  list-style: none;
}
.social-bar{
  margin-top: 60px;
  margin-left: 87%;
  padding-left: 20px;
  position: absolute;
}
footer{
  position: relative;
  height: 165px;

}

span{
  color: #b7d972;
}